[page]
	diff = delta
	show = delta
	log = delta
	blame = delta
	reflog = delta
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = jeremiah.t.vaughan@gmail.com
	name = JeremiahVaughan
[core]
    pager = delta
[init]
	defaultBranch = master

[interactive]
    diffFilter = delta --color-only
[pull]
	rebase = true
[core]
	editor = nvim
[delta]
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true
[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
